@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
html, body{
  margin:0px;
  padding: 0px;
  height:100%;
  width: 100%;
}

.intro{
  height:100%;
  width:100%;
  margin:auto;
  background: url('./images/dawn 2.jpg') no-repeat 50% 50%;
  display:table;
  top:0;
  background-size: cover;
}
.intro .inner{
  display: table-cell;
  vertical-align: middle;
width:100%;
max-width: none;
}
.content{
  max-width:60vw;
  margin: 0 auto;
  text-align: center;
}
.content h1{
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  color:#f3f3f3;
  text-shadow: 0px 0px 300px #444;
  /* size:500%; */
  padding-bottom: 3vh;
}

.button{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  border: 3px solid hsl(192, 32%, 44%);
  color:#41737e;
  padding:8px 15px;
  border-radius: 9px;
text-decoration:none;
text-transform: uppercase;}

/* .video-holder {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
} */

.button:hover{
  color: #ebebebe3;
  border: 2px solid #ebebeb;
}
.mainHeading{
    text-align: center;
      font-family: 'Raleway', sans-serif;
      width: 80vw;
margin: auto;
}
.mainBody1{
  width: 88vw;
  text-align: center;
  margin:1vw;
  padding:3vw;
  display: flex;
  flex-direction: row;
  box-shadow: 1vw 0vh 10px #6799a3;
}
.bodyText{
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  padding:1vw;
  margin-left:1vw;
 display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainImg{
  width:40vw;
}
.description{
  width:50vw;
}
hr{
  color: black;
  width: 60vw;
  margin-bottom: 4vh;
}
@media screen and (max-width:600px), (orientation: portrait){
  .content h1{
    font-size:70px;
  }
  .button{ font-size:50px;}
  .mainBody1{
    flex-direction: column;
    font-size: 1.3em;
      box-shadow: 1vw 1vh 15px #6799a3;

  }
  .description{
    width:80vw;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .mainImg{
 width:74vw;
 padding-left:4vw;
  }
}